In [1]:
#imports:
import pandas as pd
import numpy as np
from keras.layers import Dense,LSTM
from keras.models import Sequential
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime

from keras.callbacks import EarlyStopping,ReduceLROnPlateau,ModelCheckpoint,TensorBoard
%matplotlib inline

step #1 read Data

In [2]:
df = pd.read_excel('../../site_info_ver_4_lite.xlsx')
df.head()

,Date,Site_Name,Israelis_Count,Tourists_Count,Total,region_Central,region_Judea_Samaria,region_North,region_South,is_weekend,...,Jerusalem_nox_exceeded,Haifa_nox_exceeded,Ashkelon_nox_exceeded,Beer-Sheva_nox_exceeded,Green_border,Season_autumn,Season_spring,Season_summer,Season_winter,Day_before_Total
0,2016-01-01,Eilat Coral Beach,35,52,87,0,0,0,1,1,...,1,1,0,0,0,0,0,0,1,354
1,2016-01-02,Eilat Coral Beach,22,17,39,0,0,0,1,1,...,1,1,0,1,0,0,0,0,1,87
2,2016-01-03,Eilat Coral Beach,27,53,80,0,0,0,1,0,...,1,1,0,1,0,0,0,0,1,39
3,2016-01-04,Eilat Coral Beach,117,99,216,0,0,0,1,0,...,1,1,0,1,0,0,0,0,1,80
4,2016-01-05,Eilat Coral Beach,65,129,194,0,0,0,1,0,...,1,1,0,1,0,0,0,0,1,216

In [3]:
df_Eilat_Coral_Beach = df[df.Site_Name=='Eilat Coral Beach']
# df_Eilat_Coral_Beach = df_Eilat_Coral_Beach[['Israelis_Count']]
df_Eilat_Coral_Beach.Israelis_Count=np.log(df_Eilat_Coral_Beach.Israelis_Count+0.01)

C:\Users\asars\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
#select the feature we want 
cols = ['Temperature','Israelis_Count']
#Extract Dates
datelist_train = list(df_Eilat_Coral_Beach["Date"])
# datelist_train = [dt.datetime.strptime(date,'%Y-%m-%d').date() for date in datelist_train]
# datelist_train

step #2. Data pre-processing

In [16]:
dataset_train = df_Eilat_Coral_Beach[cols]
# for i in cols:
    # for j in range(0,len(dataset_train)):
        # dataset_train[i][j] =da
        
training_set=dataset_train.values
training_set

array([[19.1       ,  3.55563373],
       [16.6       ,  3.0914969 ],
       [21.8       ,  3.29620717],
       ...,
       [41.9       ,  6.98008524],
       [41.1       ,  7.08339624],
       [40.9       ,  6.670779  ]])