In [119]:
import pandas as pd
import numpy as np

In [103]:
df = pd.read_excel("info_site_complete_with_models_and_nulls.xlsx")
df.head()

,Model_number,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,...,heritage,water,cave,lookout,pm10,pm2.5,nox,so2,Temperature,is_HeatWave
0,5,2016-01-01,Alexander Stream-Bet Yannai,7,0,7,1,0,0,0,...,0,1,0,0,8.0,NaN,6.2,0.6,11.2,0
1,6,2016-01-01,Apollonia,16,0,16,1,0,0,0,...,0,0,0,1,NaN,NaN,1.7,0.1,9.5,0
2,3,2016-01-01,Arbel,8,52,60,1,0,0,0,...,0,0,0,1,21.7,11.0,6.2,0.3,14.1,0
3,5,2016-01-01,Avdat,13,26,39,1,0,0,0,...,0,0,0,0,NaN,NaN,9.6,3.2,12.7,0
4,5,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,...,0,1,0,0,NaN,NaN,183.6,0.2,15.5,0

In [104]:
pm10_df= pd.read_excel("pm10_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
pm25_df= pd.read_excel("pm25_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
nox_df= pd.read_excel("Nox_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
so2_df= pd.read_excel("So2_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
pm10_df.head()

,תאריך ושעה,עפולה,תל אביב-יפו,אריאל,באר שבע,בית שמש,כרמיאל,ירושלים,אלון שבות,רחובות,...,קציר,קריית ביאליק,קריית מוצקין,ברטעה,אשלים,מצפה נטופה,טורעאן,ברקאי,אלעד,רמלה
0,2016-01-01,7.7,64.1,NaN,4.9,8.9,8.0,25.6,NaN,21.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,2016-02-01,9.6,63.1,10.0,10.5,9.8,12.1,25.1,NaN,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2016-03-01,22.2,82.3,24.2,27.3,37.8,16.0,99.1,NaN,33.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,2016-04-01,33.3,75.2,16.1,30.0,17.6,25.5,66.6,NaN,27.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,2016-05-01,38.4,105.6,22.3,22.8,23.5,29.2,177.4,17.1,29.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [105]:
pm10_df.columns

Index(['תאריך ושעה', 'עפולה', 'תל אביב-יפו', 'אריאל', 'באר שבע', 'בית שמש',
       'כרמיאל', 'ירושלים', 'אלון שבות', 'רחובות', 'נתניה', 'רמת גן',
       'ניר גלים', 'מודיעין', 'יבנה', 'בת הדר', 'חדרה', 'חיפה', 'נשר',
       'קריית אתא', 'אום אל פאחם', 'קיריית טבעון', 'מועצה אזורית חוף הכרמל',
       'ערד', 'סדום', 'אילת', 'מבקיעים', 'אום אל קוטוף', 'יד רמב"ם',
       'בית חשמונאי', 'קציר', 'קריית ביאליק', 'קריית מוצקין', 'ברטעה', 'אשלים',
       'מצפה נטופה', 'טורעאן', 'ברקאי', 'אלעד', 'רמלה'],
      dtype='object')

In [106]:
list_cities_pm10=['אילת','תל אביב-יפו','אריאל','כרמיאל','באר שבע','בת הדר','ירושלים','חיפה','עפולה']

pm10_df[list_cities_pm10]

      אילת  תל אביב-יפו  אריאל  כרמיאל  באר שבע  בת הדר  ירושלים   חיפה  עפולה
0     24.1         64.1    NaN     8.0      4.9    11.2     25.6   23.3    7.7
1     16.8         63.1   10.0    12.1     10.5    12.3     25.1   23.8    9.6
2     22.1         82.3   24.2    16.0     27.3    28.6     99.1   27.1   22.2
3     28.6         75.2   16.1    25.5     30.0    17.7     66.6   36.6   33.3
4     18.5        105.6   22.3    29.2     22.8    19.9    177.4   40.3   38.4
...    ...          ...    ...     ...      ...     ...      ...    ...    ...
2177  20.0         58.9   10.3    13.8     22.1    15.3     51.3   59.0   18.9
2178  18.5         82.2   14.1    10.8     21.0    19.3     48.8   44.7   12.9
2179  17.6        162.7   31.7    29.2     21.2    29.0    219.2  129.9   39.9
2180   NaN         93.7   23.5    14.6    104.6    34.3     68.5   66.7   17.9
2181   NaN          0.0    NaN     NaN      NaN     NaN      0.0    0.0    NaN

[2182 rows x 9 columns]

In [107]:
pm25_df.columns

Index(['תאריך ושעה', 'תל אביב-יפו', 'ירושלים', 'באר שבע', 'אלון שבות', 'חולון',
       'בני ברק', 'נתניה', 'אשדוד', 'פתח תקווה', 'רמת גן', 'חיפה', 'נשר',
       'קריית אתא', 'חיפה וקריות', 'חדרה', 'פרדס חנה', 'אליכין', 'אום אל פאחם',
       'גן יבנה', 'גדרה', 'יד בנימין', 'אשקלון', 'קריית גת', 'קריית מלאכי',
       'שדרות', 'גברעם', 'שדה יואב', 'ניר ישראל', 'כרמיה', 'ארז',
       'קיריית טבעון', 'ראשון לציון', 'רעננה', 'ערד', 'סדום', 'נאות הכיכר',
       'מבקיעים', 'כפר מסריק', 'כפר מנחם', 'בנימינה', 'מועצה אזורית חוף הכרמל',
       'בני עטרות', 'בני דרום', 'בית חשמונאי', 'אור יהודה', 'כפר סבא',
       'קריית ביאליק', 'קריית מוצקין', 'גליל עליון', 'יבנה', 'קטורה',
       'מצפה נטופה', 'טורעאן', 'בת שלמה', 'קיסריה', 'ברקאי', 'אביגדור',
       'תימורים', 'נחשולים', 'איבטין', 'חריש', 'אלעד', 'רמלה'],
      dtype='object')

In [108]:
list_cities_pm10=['אילת','תל אביב-יפו','אריאל','כרמיאל','באר שבע','בת הדר','ירושלים','חיפה','עפולה']
list_cities_pm25=[  'אשקלון','כפר מסריק','חיפה','תל אביב-יפו', 'ירושלים', 'באר שבע',]
pm25_df[list_cities_pm25]

      אשקלון  כפר מסריק   חיפה  תל אביב-יפו  ירושלים  באר שבע
0        4.8        4.6   26.2         13.9     30.1      2.5
1       12.5        8.1   41.0         11.6     28.8      6.7
2       17.2       16.4   69.1         23.4     68.0     11.6
3       17.9       14.9   64.9         23.4     62.5     17.9
4       11.0       10.7   49.7         23.4     59.1     11.5
...      ...        ...    ...          ...      ...      ...
2177    14.5        NaN  100.1         80.4     36.0     10.7
2178    18.4        NaN   69.3         80.3     30.4      7.2
2179    21.0        NaN   90.2        119.9     56.5      5.8
2180    13.7        NaN   56.1         47.3     32.5     17.5
2181     0.0        NaN    0.0          0.0      0.0      NaN

[2182 rows x 6 columns]

In [109]:
cities = []
c1 = list(pm25_df.columns[1:])
c2 = list(pm10_df.columns[1:])
c3 = list(nox_df.columns[1:])
c4 = list(so2_df.columns[1:])
cities = list(set(c1+c2+c3+c4))

print(cities)

['עפולה', 'גדרה', 'רמת גן', 'ברקאי', 'רחובות', 'גן יבנה', 'טורעאן', 'יד בנימין', 'מודיעין', 'דברת', 'אליקים', 'כפר סבא', 'לוזית', 'בנימינה', 'בת שלמה', 'מגל', 'שדה יואב', 'שדרות', 'כפר מסריק', 'בני דרום', 'תימורים', 'אריאל', 'נחשולים', 'שגב שלום', 'באר שבע', 'ראשון לציון', 'חולון', 'צומת הנגב', 'אשדוד', 'דליית אל כרמל', 'ירוחם', 'איבטין', 'מועצה תעשייתית נאות חובב', 'נתניה', 'קריית מלאכי', 'המעפיל', 'חיפה', 'קריית גת', 'גברעם', 'רמלה', 'גן שמואל', 'קריית ביאליק', 'ניר ישראל', 'קיריית טבעון', 'קריית אתא', 'קריית מוצקין', 'בני עטרות', 'אביגדור', 'פרדס חנה', 'דור', 'ארז', 'כרמיה', 'קיסריה', 'מועצה אזורית חוף הכרמל', 'סדום', 'מעיין צבי', 'אום אל פאחם', 'אלעד', 'גבעת עדה', 'חדרה', 'רעננה', 'כפר חסידים', 'קציר', 'נאות הכיכר', 'בית חשמונאי', 'אילת', 'נשר', 'אשלים', 'מועצה אזורית מנשה', 'אלון שבות', 'ברטעה', 'מצפה נטופה', 'חריש', 'אליכין', 'פתח תקווה', 'עמיקם', 'כפר מנחם', 'בת הדר', 'בני ברק', 'ערד', 'כרם מהרל', 'יד רמב"ם', 'כרמיאל', 'אור יהודה', 'מבקיעים', 'אום אל קוטוף', 'גליל עליון', 'גבעת המורה', 'תל אביב-יפו', 'בית שמש', 'גן דרום', 'אשקלון', 'קטורה', 'מ.א. חבל יבנה', 'ניר גלים', 'ירושלים', 'אחיסמך', 'כרמי יוסף', 'יבנה', 'חיפה וקריות']

In [110]:
from geopy.geocoders import Nominatim
loc = Nominatim(user_agent="GetLoc")
coo = {}
for city in cities:
    try:
        getLoc = loc.geocode(city)
        if(getLoc is not type(None)):
            coo[city] = [getLoc.latitude,getLoc.longitude]
    except :
        continue



print(len(cities))
len(coo)
for c in cities:
    if c not in coo:
        print(c)

100
מועצה תעשייתית נאות חובב
קיריית טבעון
חיפה וקריות

In [111]:
coo["בשור חווה"]=[31.307249490795158,34.48783567433633]
coo["מרום גולן פיכמן"]=[33.13320816063243,35.77650679606851]
coo["אשחר"]=[32.886615994081744,35.30037175149471]
coo["אפק"]=[32.839136662713486,35.12788271811121]
coo["אשלים"]=[30.96454398024719,34.7001133359113]
coo["ערד"]=[31.262323304271163,35.21781267558416]
coo["גמלא"]=[32.889987331493145,35.682879974609484]
coo["ניצן"]=[31.741268973086314,34.63121914439573]
coo["גלעד"]=[32.557935181115376,35.075285948798616]
coo["גת"]=[31.62842890546584,34.79305290771867]
coo["שני"]=[31.36767586708175,35.07209140195991]
coo["פארן"]=[30.362538961360368,35.1549994302975]
coo["מסדה"]=[32.683992726297305,35.59861618948018]
coo['מועצה תעשייתית נאות חובב'] = [31.135,34.791]
coo['קיריית טבעון'] = [32.715603,35.126578]
coo['חיפה וקריות'] = [32.841592,35.071278]
coo['ארז'] =[31.56028,34.566483]
coo['מגל'] =[32.385837,35.03366]
coo['ערד'] =[31.258928,35.213893]
coo['גן דרום'] = [31.804468,34.700824]

coo['ברקאי'] = [32.474819141691206,35.0275950342368]
coo['חריש'] = [32.462194973207886,35.045251620627795]
coo['קיסריה'] = [32.50712927639148,34.91244095275816]
coo['אלעד'] = [32.05089076091389,34.95718705819683]
coo['אשלים'] = [30.963449095763554,34.70081419534035]

In [112]:

df_dict=pd.DataFrame.from_dict(coo)
df_dict=df_dict.transpose()
df_dict.columns=['lat','lon']

# import folium

# lat = df_dict["lat"][0]
# lon = df_dict["lon"][0]

# map = folium.Map(location=[lat, lon], zoom_start=3)
# for i in range (len(df_dict.lat)):
#     folium.Marker([df_dict["lat"][i], df_dict['lon'][i]],popup= folium.Popup(df_dict.index[i])).add_to(map)
#     folium.Circle([df_dict["lat"][i], df_dict['lon'][i]]).add_to(map)

# map

In [113]:
cities_choose=["Tel_Aviv-Yafo",'Jerusalem','Haifa','Ashkelon','Beer-Sheva','Eilat','Qiryat Shemona','Safed']
coordinates=[[32.085017891464396, 34.7763038182975],
[31.77310495669896, 35.23499676145992],
[32.83446655699308, 35.011207907642344],
[31.68817142627329, 34.568403037907935],
[31.2674657699718, 34.77038420655872],
[29.53782290191944, 34.86610953454835],
[33.20549014886039, 35.57588670069861],
[32.9615054098756, 35.50342912448356]]

df_cities_choose = pd.DataFrame(index=pm10_df["תאריך ושעה"],columns=[cities_choose])
df_cities_choose

,Tel_Aviv-Yafo,Jerusalem,Haifa,Ashkelon,Beer-Sheva,Eilat,Qiryat Shemona,Safed
תאריך ושעה,,,,,,,,
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
df_dict=df_dict.reset_index()
df_dict

                        index        lat        lon
0                       עפולה  32.607559  35.289086
1                        גדרה  31.811775  34.780388
2                      רמת גן  32.068687  34.824681
3                       ברקאי  32.474819  35.027595
4                      רחובות  31.895253  34.810562
..                        ...        ...        ...
106                      פארן  30.362539  35.154999
107                      מסדה  32.683993  35.598616
108  מועצה תעשייתית נאות חובב  31.135000  34.791000
109              קיריית טבעון  32.715603  35.126578
110               חיפה וקריות  32.841592  35.071278

[111 rows x 3 columns]

In [115]:

import math
from geopy.distance import geodesic 

def get_distance(lat_1, lng_1, lat_2, lng_2): 
    # lng_1, lat_1, lng_2, lat_2 = map(math.radians, [lng_1, lat_1, lng_2, lat_2])

    # d_lat = lat_2 - lat_1
    # d_lng = lng_2 - lng_1 

    # temp = (  
    #      math.sin(d_lat / 2) ** 2 
    #    + math.cos(lat_1) 
    #    * math.cos(lat_2) 
    #    * math.sin(d_lng / 2) ** 2
    # )

    # return 6373.0 * (2 * math.atan2(math.sqrt(temp), math.sqrt(1 - temp)))
    # return math.sqrt((lat_1-lat_2)**2+(lng_1-lat_2)**2)
    coords_1 = (lat_1,lng_1)
    coords_2 = (lat_2,lng_2)
    return geodesic (coords_1, coords_2).km


nearst={}
cities = df_dict["index"]
latC = df_dict["lat"]
lonC = df_dict["lon"]
sites = cities_choose


for i in range (len(sites)):
    print(i)
    tmp={}
    for j in range (len(cities)):
        # dst = get_distance(lonC[j] ,latC[j] , lonS[i] ,lonS[i] )
        dst = get_distance(latC[j] ,lonC[j] , coordinates[i][0] ,coordinates[i][1] )
        tmp[cities[j]] = dst
    min_list_dict =dict(sorted(tmp.items(), key=lambda item: item[1]))
    nearst[sites[i]]=min_list_dict
nearst

0
1
2
3
4
5
6
7

{'Tel_Aviv-Yafo': {'תל אביב-יפו': 0.5204141401060741,
  'רמת גן': 4.913417208129722,
  'בני ברק': 5.305812256501128,
  'חולון': 7.715603548333858,
  'אור יהודה': 9.356704968853489,
  'פתח תקווה': 10.360139732702672,
  'קריית מלאכי': 11.529667866623848,
  'ראשון לציון': 13.840489819816929,
  'רעננה': 14.140272725755295,
  'בני עטרות': 14.503334766100268,
  'כפר סבא': 16.061691457289804,
  'אלעד': 17.49382031059796,
  'רמלה': 19.215917916935553,
  'אחיסמך': 20.72767589515135,
  'רחובות': 21.289961862933662,
  'יבנה': 23.3568476381727,
  'יד רמב"ם': 23.70797851177863,
  'בית חשמונאי': 25.6729540125725,
  'מ.א. חבל יבנה': 27.2528662099446,
  'נתניה': 28.05430110018614,
  'מודיעין': 29.287313547595353,
  'כרמי יוסף': 29.707018599291658,
  'ניר גלים': 30.236549119135915,
  'גדרה': 30.301280039567203,
  'בני דרום': 30.38802921698579,
  'גן דרום': 31.91710233526794,
  'יד בנימין': 32.13081026538424,
  'גן יבנה': 33.62947889737882,
  'אשדוד': 33.92266980090965,
  'המעפיל': 37.96166281408763,
  'אליכין': 38.45040951607619,
  'אריאל': 38.66239218915947,
  'כפר מנחם': 39.651619167407,
  'ניצן': 40.51155605928757,
  'תימורים': 40.93283492201186,
  'מגל': 41.24459329374833,
  'חדרה': 41.30704050136282,
  'אביגדור': 41.59438910496865,
  'בית שמש': 42.60112346110583,
  'גן שמואל': 43.84004947575389,
  'לוזית': 45.29017772783068,
  'ניר ישראל': 46.03946785458479,
  'מועצה אזורית מנשה': 47.216579245492426,
  'פרדס חנה': 47.43919776531303,
  'קיסריה': 48.53325655016291,
  'חריש': 48.90196758310312,
  'סדום': 48.98737546214018,
  'ברקאי': 49.28350436708194,
  'שדה יואב': 49.60900036957037,
  'אום אל קוטוף': 50.12890953951672,
  'בנימינה': 50.3517982193046,
  'אשקלון': 50.44192508456304,
  'גת': 50.653361759958116,
  'בת הדר': 51.528432984591674,
  'ברטעה': 52.335470025265714,
  'גבעת עדה': 52.43891899723876,
  'קריית גת': 53.43176898389237,
  'קציר': 54.2462968332166,
  'ירושלים': 54.39843124660355,
  'מבקיעים': 54.676639818999455,
  'מעיין צבי': 55.76922018907012,
  'גברעם': 56.962429502155864,
  'כרמיה': 57.58876903218715,
  'עמיקם': 57.86408853759963,
  'אלון שבות': 58.08831017491713,
  'אום אל פאחם': 59.47884485391397,
  'גלעד': 59.521680006186905,
  'דור': 59.570692334878196,
  'נחשולים': 60.19668855059512,
  'בת שלמה': 60.90521620552966,
  'ארז': 61.482364193255655,
  'מועצה אזורית חוף הכרמל': 62.9169571099896,
  'שדרות': 64.21910997664692,
  'כרם מהרל': 64.3465262566527,
  'אליקים': 66.6185849171724,
  'דליית אל כרמל': 72.03570630034962,
  'עפולה': 75.41773786579591,
  'קיריית טבעון': 77.30368799373765,
  'כפר חסידים': 79.75168911011555,
  'נשר': 79.94502549224781,
  'גבעת המורה': 79.96636940824932,
  'איבטין': 81.36180989741037,
  'דברת': 82.5674124299259,
  'חיפה': 84.04364720420446,
  'שני': 84.33546303743519,
  'קריית אתא': 86.28740920826101,
  'חיפה וקריות': 88.36452483623367,
  'קריית מוצקין': 88.37063199245387,
  'קריית ביאליק': 88.39360661130267,
  'אפק': 89.92314607375549,
  'בשור חווה': 90.47229979403227,
  'באר שבע': 93.07219181167214,
  'כפר מסריק': 94.4252942046197,
  'טורעאן': 95.06468901040076,
  'מצפה נטופה': 98.03176788101342,
  'שגב שלום': 98.22072569129107,
  'ערד': 100.55831988922901,
  'אשחר': 101.62827776888112,
  'מסדה': 101.97534640191013,
  'כרמיאל': 104.17211859537892,
  'מועצה תעשייתית נאות חובב': 105.34723235684937,
  'צומת הנגב': 113.08999228946992,
  'ירוחם': 122.36543643520744,
  'גמלא': 123.40547366322998,
  'אשלים': 124.56440700720077,
  'גליל עליון': 139.50527432956295,
  'נאות הכיכר': 139.90787044485523,
  'מרום גולן פיכמן': 149.41682122796163,
  'פארן': 194.35521336097673,
  'קטורה': 236.10215934872008,
  'אילת': 280.7706587013737},
 'Jerusalem': {'ירושלים': 1.0803850392247099,
  'אלון שבות': 16.642051173417745,
  'בית שמש': 23.525238603120677,
  'מודיעין': 26.29980847176951,
  'כרמי יוסף': 30.887271980105968,
  'בית חשמונאי': 32.513975355403176,
  'לוזית': 34.24166485081865,
  'יד רמב"ם': 34.59967023699516,
  'אחיסמך': 35.80374127358502,
  'אריאל': 37.222149627818325,
  'כפר מנחם': 38.16336220587631,
  'רמלה': 39.2294173451077,
  'יד בנימין': 39.2486342557466,
  'אלעד': 40.487257059922605,
  'בני עטרות': 41.29905339584454,
  'רחובות': 42.399689679813314,
  'גדרה': 43.26683754766853,
  'גת': 44.861896291319134,
  'תימורים': 45.32396137827916,
  'ראשון לציון': 45.41515264376137,
  'קריית מלאכי': 46.069258914211375,
  'אור יהודה': 46.124039344283794,
  'אביגדור': 47.072770038436644,
  'קריית גת': 47.2555589739832,
  'שני': 47.53937989217347,
  'פתח תקווה': 48.026773573108294,
  'יבנה': 48.41116847400097,
  'מ.א. חבל יבנה': 49.33783455915989,
  'גן יבנה': 49.782670302540794,
  'חולון': 50.30460826865724,
  'גן דרום': 50.71036232217262,
  'רמת גן': 50.79454685281733,
  'בני ברק': 51.61057283272094,
  'בני דרום': 51.73181325296287,
  'ניר גלים': 52.68200314173896,
  'כפר סבא': 54.47649502003212,
  'שדה יואב': 54.74950809555468,
  'תל אביב-יפו': 55.09123766968153,
  'אשדוד': 55.19066146975021,
  'ערד': 57.04633728863079,
  'ניצן': 57.31142918140993,
  'רעננה': 57.476411564299426,
  'ניר ישראל': 57.51834645168324,
  'בת הדר': 62.17209839013024,
  'גברעם': 62.473346675938224,
  'סדום': 62.652050741805226,
  'אשקלון': 63.888175963322496,
  'מבקיעים': 64.57471796864124,
  'שדרות': 66.40895069330101,
  'ארז': 67.64677870233363,
  'כרמיה': 68.19254366635523,
  'מגל': 70.5535685456047,
  'המעפיל': 71.17419171515509,
  'נתניה': 71.21369902637888,
  'באר שבע': 72.01220415045873,
  'שגב שלום': 73.7123226391235,
  'אליכין': 76.2419196036342,
  'חריש': 78.48247138243853,
  'אום אל קוטוף': 78.8339955148136,
  'ברטעה': 78.94794363405337,
  'מועצה אזורית מנשה': 78.99517397203032,
  'חדרה': 79.40025589761153,
  'גן שמואל': 79.92957463736627,
  'ברקאי': 80.23592572881904,
  'קציר': 80.33476633266481,
  'פרדס חנה': 81.42102566326778,
  'מועצה תעשייתית נאות חובב': 82.38122433761569,
  'אום אל פאחם': 82.72824197919715,
  'גבעת עדה': 85.30097944943945,
  'בנימינה': 86.51444435222356,
  'קיסריה': 86.89848012615806,
  'צומת הנגב': 86.90991051727559,
  'בשור חווה': 87.7618592100094,
  'גלעד': 88.32372303457524,
  'עמיקם': 89.99125883306658,
  'ירוחם': 91.82066031143509,
  'מעיין צבי': 92.46477682869066,
  'עפולה': 92.67316396577418,
  'נאות הכיכר': 94.12482632237923,
  'בת שלמה': 94.20867749236865,
  'גבעת המורה': 94.26971283713559,
  'אליקים': 96.63114930710184,
  'דור': 97.09656483927866,
  'מועצה אזורית חוף הכרמל': 97.23699396502025,
  'דברת': 97.62082428873273,
  'נחשולים': 97.82915190390192,
  'כרם מהרל': 97.93026577459337,
  'אשלים': 103.15723314596111,
  'דליית אל כרמל': 103.43178273103811,
  'קיריית טבעון': 105.01288279721585,
  'מסדה': 106.6653283219766,
  'כפר חסידים': 109.36034767028521,
  'איבטין': 110.1245074796724,
  'טורעאן': 112.10481552539869,
  'נשר': 112.18861091268232,
  'מצפה נטופה': 115.06437391870463,
  'קריית אתא': 115.23364623445367,
  'חיפה': 118.1162792759456,
  'אפק': 118.64420421015875,
  'קריית ביאליק': 118.73326752764241,
  'קריית מוצקין': 119.09873372060515,
  'חיפה וקריות': 119.48580946383201,
  'אשחר': 123.63345806453759,
  'כפר מסריק': 124.62165432336104,
  'כרמיאל': 126.84829262639236,
  'גמלא': 130.83543773273325,
  'גליל עליון': 154.06512247799114,
  'פארן': 156.5766035243143,
  'מרום גולן פיכמן': 159.18960604322348,
  'קטורה': 200.6361072018006,
  'אילת': 247.20831601367183},
 'Haifa': {'חיפה': 2.0826573472098464,
  'חיפה וקריות': 5.679223516918767,
  'קריית מוצקין': 6.496712885672511,
  'קריית ביאליק': 7.316614013018114,
  'נשר': 7.488941940734586,
  'קריית אתא': 10.369856067263568,
  'כפר מסריק': 10.422807455175173,
  'אפק': 10.935936160764443,
  'כפר חסידים': 11.96837216204032,
  'איבטין': 12.57068983760615,
  'דליית אל כרמל': 16.15099186258253,
  'קיריית טבעון': 17.046987417047543,
  'כרם מהרל': 22.330372661503574,
  'אליקים': 22.975875066914476,
  'מועצה אזורית חוף הכרמל': 23.475609727111927,
  'נחשולים': 25.89797355145057,
  'בת שלמה': 26.07595780503942,
  'דור': 26.48560814986314,
  'אשחר': 27.67673085508869,
  'כרמיאל': 27.913281897669503,
  'עמיקם': 30.022046836672992,
  'מעיין צבי': 30.259242112233945,
  'גלעד': 31.250184395639742,
  'טורעאן': 34.429032980102576,
  'מצפה נטופה': 35.14424916378264,
  'גבעת עדה': 35.24501938149566,
  'בנימינה': 35.945012505321635,
  'עפולה': 36.219153069908195,
  'קיסריה': 37.464730139125344,
  'אום אל פאחם': 37.738508405621396,
  'דברת': 37.93729612357353,
  'קציר': 39.28077160184887,
  'גבעת המורה': 39.753097432332034,
  'ברקאי': 39.91391635787357,
  'פרדס חנה': 39.92594127771769,
  'ברטעה': 40.62192678300825,
  'אום אל קוטוף': 40.879790390337945,
  'חריש': 41.407628379611815,
  'מועצה אזורית מנשה': 41.517567089997094,
  'גן שמואל': 42.822152509744974,
  'חדרה': 44.9056478207019,
  'אליכין': 47.98833024087934,
  'מגל': 49.79652872371205,
  'המעפיל': 50.648677478759005,
  'מסדה': 57.51768558731465,
  'נתניה': 57.9442895851978,
  'גמלא': 63.167991252251724,
  'גליל עליון': 64.78225299183073,
  'רעננה': 73.15134074235904,
  'כפר סבא': 73.5209900279523,
  'מרום גולן פיכמן': 78.83263388570948,
  'אריאל': 82.41251462903928,
  'פתח תקווה': 83.63807424691812,
  'בני ברק': 84.53466337801872,
  'קריית מלאכי': 85.14201369924116,
  'תל אביב-יפו': 85.83266566805104,
  'רמת גן': 86.7130978701998,
  'אלעד': 87.04267576292487,
  'אור יהודה': 90.34625596690348,
  'בני עטרות': 90.40854617160883,
  'חולון': 93.21574418354733,
  'ראשון לציון': 98.41250030059558,
  'אחיסמך': 100.15482035417564,
  'רמלה': 101.49265899861662,
  'מודיעין': 102.67606519078304,
  'יד רמב"ם': 104.21554334358886,
  'בית חשמונאי': 105.31332346665775,
  'רחובות': 105.85045451856293,
  'יבנה': 109.25177837189277,
  'כרמי יוסף': 109.83949889131046,
  'מ.א. חבל יבנה': 113.20499641197928,
  'גדרה': 115.47254165622523,
  'ניר גלים': 116.21181672751189,
  'יד בנימין': 116.33207697676663,
  'בני דרום': 116.38154386258798,
  'גן דרום': 117.89892182104678,
  'ירושלים': 118.79349650940429,
  'גן יבנה': 119.56486255998266,
  'אשדוד': 119.81228216909531,
  'בית שמש': 120.6970626047144,
  'כפר מנחם': 123.48564801907094,
  'תימורים': 126.23253349691154,
  'ניצן': 126.40024383812873,
  'אביגדור': 127.11468607317701,
  'לוזית': 127.68709974146748,
  'אלון שבות': 131.25378876737526,
  'ניר ישראל': 132.0168770838387,
  'סדום': 134.74658799435386,
  'גת': 135.30993467062504,
  'שדה יואב': 135.5316284930823,
  'אשקלון': 136.15286695061002,
  'בת הדר': 137.42062832421223,
  'קריית גת': 138.300980077782,
  'מבקיעים': 140.5224215443285,
  'גברעם': 142.95022151367746,
  'כרמיה': 143.2645341099071,
  'ארז': 147.38549423416137,
  'שדרות': 150.21167050514262,
  'שני': 162.75185401191047,
  'ערד': 175.7532330354572,
  'בשור חווה': 176.41201994700526,
  'באר שבע': 177.37614612647403,
  'שגב שלום': 181.8641153250996,
  'מועצה תעשייתית נאות חובב': 189.5935488824301,
  'צומת הנגב': 196.713999089018,
  'ירוחם': 204.81890738063936,
  'אשלים': 209.5349995126663,
  'נאות הכיכר': 213.66795683036148,
  'פארן': 274.42643649779507,
  'קטורה': 317.67744601151486,
  'אילת': 363.43681179969394},
 'Ashkelon': {'סדום': 2.092416666540543,
  'אשקלון': 2.6622875949707483,
  'בת הדר': 5.309964547659705,
  'ניר ישראל': 6.4489838305277845,
  'מבקיעים': 7.366405207913023,
  'ניצן': 8.373371118257127,
  'כרמיה': 9.493656888293064,
  'שדה יואב': 11.319068051315085,
  'גברעם': 11.529722811319678,
  'ארז': 14.18180399560981,
  'אשדוד': 14.554227832423106,
  'אביגדור': 16.797235765204647,
  'גן יבנה': 17.30708884572264,
  'גן דרום': 17.99220301367664,
  'שדרות': 18.132775390184758,
  'תימורים': 18.55004995008346,
  'ניר גלים': 18.550998795464523,
  'בני דרום': 18.76198428765906,
  'קריית גת': 21.996920267154348,
  'גת': 22.31224144033739,
  'מ.א. חבל יבנה': 22.49245110940226,
  'גדרה': 24.315799912912222,
  'כפר מנחם': 25.73405439688243,
  'יבנה': 26.397102361000776,
  'יד בנימין': 26.898635530651575,
  'לוזית': 30.276757530566222,
  'רחובות': 32.45320401086034,
  'כרמי יוסף': 37.714011814628165,
  'ראשון לציון': 38.1597674206223,
  'רמלה': 38.495166375768925,
  'יד רמב"ם': 39.23078259870451,
  'בית חשמונאי': 39.920525481062704,
  'בית שמש': 40.35146336056961,
  'חולון': 41.76203482187781,
  'אחיסמך': 42.26972168369659,
  'בשור חווה': 42.9238562041856,
  'אור יהודה': 46.55275951051044,
  'מודיעין': 48.18556088938362,
  'תל אביב-יפו': 48.44330667151753,
  'רמת גן': 48.66474322357458,
  'בני עטרות': 49.393489620932534,
  'בני ברק': 50.82889436291685,
  'קריית מלאכי': 52.80719869328524,
  'אלון שבות': 53.077386728137085,
  'באר שבע': 53.47949106402965,
  'פתח תקווה': 53.53578994178272,
  'אלעד': 54.50771016761905,
  'שני': 59.592012997630476,
  'שגב שלום': 59.88490628323067,
  'רעננה': 62.04369026828357,
  'כפר סבא': 63.00953074637598,
  'ירושלים': 63.10061298721111,
  'מועצה תעשייתית נאות חובב': 64.8834925160782,
  'צומת הנגב': 73.58763648022462,
  'אריאל': 74.50604920138684,
  'נתניה': 76.0593936634791,
  'ערד': 77.63842809220264,
  'אשלים': 81.33591588720505,
  'ירוחם': 84.64685300944787,
  'המעפיל': 86.0102744480983,
  'אליכין': 86.62456684023778,
  'מגל': 88.97260902106706,
  'חדרה': 89.42020469722091,
  'גן שמואל': 92.02192036000183,
  'מועצה אזורית מנשה': 95.35723112213111,
  'פרדס חנה': 95.6393395188439,
  'קיסריה': 96.44466815496853,
  'חריש': 96.92117267914504,
  'ברקאי': 97.40844439365424,
  'אום אל קוטוף': 98.09772394989426,
  'בנימינה': 98.44788257771441,
  'ברטעה': 100.1384332976503,
  'גבעת עדה': 100.63901371301193,
  'קציר': 102.04398681514087,
  'מעיין צבי': 103.70909375307684,
  'עמיקם': 106.06171222352397,
  'אום אל פאחם': 107.06387769742459,
  'דור': 107.30049643401101,
  'גלעד': 107.6566240403693,
  'נחשולים': 107.89182981272927,
  'בת שלמה': 109.04949324090211,
  'מועצה אזורית חוף הכרמל': 110.96918457716103,
  'כרם מהרל': 112.43754862798295,
  'נאות הכיכר': 113.7482432070117,
  'אליקים': 114.81872076099276,
  'דליית אל כרמל': 120.18491842451546,
  'עפולה': 122.5409513084993,
  'קיריית טבעון': 125.4993106429328,
  'גבעת המורה': 126.67120506513159,
  'כפר חסידים': 127.92864969722558,
  'נשר': 127.96521253953503,
  'דברת': 129.4942673804531,
  'איבטין': 129.55405356859293,
  'חיפה': 131.79492966102708,
  'קריית אתא': 134.45993819665097,
  'חיפה וקריות': 136.39780848860826,
  'קריית מוצקין': 136.43507468006177,
  'קריית ביאליק': 136.4853726115163,
  'אפק': 138.08930156429983,
  'כפר מסריק': 142.48253175283364,
  'טורעאן': 142.58187908773135,
  'מצפה נטופה': 145.59327402214583,
  'מסדה': 147.07744143266027,
  'אשחר': 149.71785373761074,
  'כרמיאל': 152.30970989561956,
  'פארן': 157.2817548456322,
  'גמלא': 169.64924621774753,
  'גליל עליון': 187.1742806195195,
  'קטורה': 196.27042199041304,
  'מרום גולן פיכמן': 196.4496784206402,
  'אילת': 239.0876798592877},
 'Beer-Sheva': {'באר שבע': 3.200730882678331,
  'שגב שלום': 9.930129570811163,
  'מועצה תעשייתית נאות חובב': 14.817703197881837,
  'צומת הנגב': 23.229663162448748,
  'בשור חווה': 27.26253315864082,
  'שני': 30.79276976875769,
  'שדרות': 33.11689717392639,
  'ירוחם': 34.23867660156591,
  'אשלים': 34.353827558709916,
  'קריית גת': 37.2264940277504,
  'ארז': 37.815101181325645,
  'גברעם': 38.917504907388846,
  'גת': 40.08054353392905,
  'ערד': 42.250775349260216,
  'שדה יואב': 42.87080851901238,
  'כרמיה': 43.25188190581198,
  'מבקיעים': 43.40642993312745,
  'בת הדר': 45.17738011191922,
  'אשקלון': 47.85038782188043,
  'לוזית': 47.92070255085486,
  'ניר ישראל': 48.26414114840903,
  'סדום': 48.516051567581606,
  'אביגדור': 49.23805842780525,
  'תימורים': 49.75020428313364,
  'כפר מנחם': 51.761143051850595,
  'ניצן': 54.17234929429573,
  'אלון שבות': 54.706809270234835,
  'בית שמש': 56.989561056476994,
  'גן יבנה': 57.90518419870985,
  'יד בנימין': 59.008093560798024,
  'אשדוד': 59.84279015142232,
  'גן דרום': 59.907436688434146,
  'גדרה': 60.359791408034184,
  'בני דרום': 61.79266793274423,
  'ניר גלים': 62.328700747608345,
  'מ.א. חבל יבנה': 64.08690740062056,
  'כרמי יוסף': 65.81543015990138,
  'יבנה': 67.6407716230791,
  'נאות הכיכר': 68.75342990837014,
  'רחובות': 69.71315367255599,
  'בית חשמונאי': 70.23739472590164,
  'יד רמב"ם': 71.14962398487597,
  'ירושלים': 71.31190180148326,
  'רמלה': 73.75793702790192,
  'מודיעין': 74.54698256919575,
  'אחיסמך': 75.22103149681412,
  'ראשון לציון': 77.27625368541472,
  'חולון': 83.0008666190033,
  'בני עטרות': 84.90400760917252,
  'אור יהודה': 85.01461856521583,
  'אלעד': 88.65503419833145,
  'רמת גן': 88.98928645838241,
  'קריית מלאכי': 90.1030818430915,
  'תל אביב-יפו': 90.688851272149,
  'בני ברק': 91.10436743279375,
  'פתח תקווה': 91.61389776980263,
  'אריאל': 100.95973200832086,
  'כפר סבא': 101.7224169488614,
  'רעננה': 102.2810895541156,
  'פארן': 106.86296602942423,
  'נתניה': 117.94713889307015,
  'המעפיל': 124.8257855303711,
  'מגל': 126.48904622150118,
  'אליכין': 127.30447451669552,
  'חדרה': 130.45077291580805,
  'גן שמואל': 132.42136549030482,
  'מועצה אזורית מנשה': 134.23052065678715,
  'חריש': 135.00613377215132,
  'פרדס חנה': 135.42282416859797,
  'אום אל קוטוף': 135.89715176686903,
  'ברקאי': 136.07106430926694,
  'ברטעה': 137.20494839439064,
  'קיסריה': 138.11531431228397,
  'קציר': 138.98924870343174,
  'בנימינה': 139.31897953511265,
  'גבעת עדה': 140.2686130866131,
  'אום אל פאחם': 143.06750086606223,
  'מעיין צבי': 145.13615877498023,
  'עמיקם': 145.68457454198114,
  'גלעד': 145.97087189533383,
  'קטורה': 146.5550124788866,
  'דור': 149.29752159288262,
  'בת שלמה': 149.32484650122726,
  'נחשולים': 149.96902827250358,
  'מועצה אזורית חוף הכרמל': 151.77803613002212,
  'כרם מהרל': 153.00325606365763,
  'אליקים': 153.96555616368457,
  'עפולה': 156.48159905685208,
  'גבעת המורה': 159.39972595255594,
  'דליית אל כרמל': 160.15621202617328,
  'דברת': 162.6030824592049,
  'קיריית טבעון': 164.0688540781672,
  'כפר חסידים': 167.41739196951914,
  'נשר': 168.61709278793876,
  'איבטין': 168.7266591523998,
  'חיפה': 173.401587564251,
  'קריית אתא': 173.87652288203128,
  'מסדה': 175.49817620550283,
  'קריית ביאליק': 176.58962591590816,
  'קריית מוצקין': 176.71146716164242,
  'טורעאן': 176.81689798392168,
  'חיפה וקריות': 176.84886110835302,
  'אפק': 177.51870014503746,
  'מצפה נטופה': 179.87551033887308,
  'כפר מסריק': 182.70858586830045,
  'אשחר': 186.3859915002759,
  'כרמיאל': 189.3435010090602,
  'אילת': 190.41037212845131,
  'גמלא': 199.47811546780255,
  'גליל עליון': 220.75601071188592,
  'מרום גולן פיכמן': 227.60073991977566},
 'Eilat': {'אילת': 8.38297142454176,
  'קטורה': 51.445877224184706,
  'פארן': 95.57992479616777,
  'אשלים': 158.83880623451026,
  'ירוחם': 160.95133935636005,
  'נאות הכיכר': 162.30082356006707,
  'צומת הנגב': 169.48603471254063,
  'מועצה תעשייתית נאות חובב': 177.20735149651335,
  'שגב שלום': 184.38088651471506,
  'באר שבע': 189.4706654096216,
  'ערד': 193.70495261356393,
  'בשור חווה': 199.49568686037333,
  'שני': 203.8200244008347,
  'שדרות': 221.97238838888626,
  'ארז': 226.0485098667361,
  'גברעם': 228.9199679042338,
  'קריית גת': 229.12275839376383,
  'כרמיה': 231.29615294026027,
  'גת': 231.87545792231802,
  'מבקיעים': 232.7303625549965,
  'שדה יואב': 234.39101653738277,
  'בת הדר': 235.20572331277046,
  'אלון שבות': 236.03418922099584,
  'אשקלון': 237.43690840638612,
  'לוזית': 238.36113560689728,
  'סדום': 238.45372685385337,
  'ניר ישראל': 239.31737238407214,
  'אביגדור': 241.20532519491232,
  'תימורים': 241.6985377934313,
  'כפר מנחם': 243.15822518404812,
  'בית שמש': 245.11145514001737,
  'ניצן': 245.31673813761893,
  'גן יבנה': 249.81453319793363,
  'יד בנימין': 250.59047010435063,
  'ירושלים': 250.82489499780792,
  'אשדוד': 251.3730011016871,
  'גן דרום': 251.78768629620743,
  'גדרה': 252.23306634853637,
  'בני דרום': 253.63668122945103,
  'ניר גלים': 254.12067550438056,
  'מ.א. חבל יבנה': 256.03904546913094,
  'כרמי יוסף': 256.05427063770156,
  'יבנה': 259.6079487537909,
  'בית חשמונאי': 260.6022070939461,
  'רחובות': 261.4098978084187,
  'יד רמב"ם': 261.8334309125673,
  'מודיעין': 263.1786204905206,
  'רמלה': 264.9870090998708,
  'אחיסמך': 265.85508997508055,
  'ראשון לציון': 268.98466470108417,
  'חולון': 274.8424295222862,
  'בני עטרות': 275.618411456549,
  'אור יהודה': 276.4081250573537,
  'אלעד': 278.75012193749956,
  'רמת גן': 280.61519209255647,

In [116]:
df_cities_choose=df_cities_choose.reset_index()
df_cities_choose.columns=['Date','Tel_Aviv-Yafo','Jerusalem','Haifa','Ashkelon','Beer-Sheva','Eilat','Qiryat Shemona','Safed']
df_cities_choose

,Date,Tel_Aviv-Yafo,Jerusalem,Haifa,Ashkelon,Beer-Sheva,Eilat,Qiryat Shemona,Safed
0,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2021-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,2021-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,2021-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,2021-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
pm10_df[pm10_df["תאריך ושעה"]=='2019-01-04']

,תאריך ושעה,עפולה,תל אביב-יפו,אריאל,באר שבע,בית שמש,כרמיאל,ירושלים,אלון שבות,רחובות,...,קציר,קריית ביאליק,קריית מוצקין,ברטעה,אשלים,מצפה נטופה,טורעאן,ברקאי,אלעד,רמלה
1186,2019-01-04,19.4,124.6,18.5,30.6,NaN,NaN,43.6,14.0,32.8,...,19.4,19.5,21.7,30.2,NaN,NaN,NaN,NaN,0.0,NaN

In [118]:
(nearst["Tel_Aviv-Yafo"])

{'תל אביב-יפו': 0.5204141401060741,
 'רמת גן': 4.913417208129722,
 'בני ברק': 5.305812256501128,
 'חולון': 7.715603548333858,
 'אור יהודה': 9.356704968853489,
 'פתח תקווה': 10.360139732702672,
 'קריית מלאכי': 11.529667866623848,
 'ראשון לציון': 13.840489819816929,
 'רעננה': 14.140272725755295,
 'בני עטרות': 14.503334766100268,
 'כפר סבא': 16.061691457289804,
 'אלעד': 17.49382031059796,
 'רמלה': 19.215917916935553,
 'אחיסמך': 20.72767589515135,
 'רחובות': 21.289961862933662,
 'יבנה': 23.3568476381727,
 'יד רמב"ם': 23.70797851177863,
 'בית חשמונאי': 25.6729540125725,
 'מ.א. חבל יבנה': 27.2528662099446,
 'נתניה': 28.05430110018614,
 'מודיעין': 29.287313547595353,
 'כרמי יוסף': 29.707018599291658,
 'ניר גלים': 30.236549119135915,
 'גדרה': 30.301280039567203,
 'בני דרום': 30.38802921698579,
 'גן דרום': 31.91710233526794,
 'יד בנימין': 32.13081026538424,
 'גן יבנה': 33.62947889737882,
 'אשדוד': 33.92266980090965,
 'המעפיל': 37.96166281408763,
 'אליכין': 38.45040951607619,
 'אריאל': 38.66239218915947,
 'כפר מנחם': 39.651619167407,
 'ניצן': 40.51155605928757,
 'תימורים': 40.93283492201186,
 'מגל': 41.24459329374833,
 'חדרה': 41.30704050136282,
 'אביגדור': 41.59438910496865,
 'בית שמש': 42.60112346110583,
 'גן שמואל': 43.84004947575389,
 'לוזית': 45.29017772783068,
 'ניר ישראל': 46.03946785458479,
 'מועצה אזורית מנשה': 47.216579245492426,
 'פרדס חנה': 47.43919776531303,
 'קיסריה': 48.53325655016291,
 'חריש': 48.90196758310312,
 'סדום': 48.98737546214018,
 'ברקאי': 49.28350436708194,
 'שדה יואב': 49.60900036957037,
 'אום אל קוטוף': 50.12890953951672,
 'בנימינה': 50.3517982193046,
 'אשקלון': 50.44192508456304,
 'גת': 50.653361759958116,
 'בת הדר': 51.528432984591674,
 'ברטעה': 52.335470025265714,
 'גבעת עדה': 52.43891899723876,
 'קריית גת': 53.43176898389237,
 'קציר': 54.2462968332166,
 'ירושלים': 54.39843124660355,
 'מבקיעים': 54.676639818999455,
 'מעיין צבי': 55.76922018907012,
 'גברעם': 56.962429502155864,
 'כרמיה': 57.58876903218715,
 'עמיקם': 57.86408853759963,
 'אלון שבות': 58.08831017491713,
 'אום אל פאחם': 59.47884485391397,
 'גלעד': 59.521680006186905,
 'דור': 59.570692334878196,
 'נחשולים': 60.19668855059512,
 'בת שלמה': 60.90521620552966,
 'ארז': 61.482364193255655,
 'מועצה אזורית חוף הכרמל': 62.9169571099896,
 'שדרות': 64.21910997664692,
 'כרם מהרל': 64.3465262566527,
 'אליקים': 66.6185849171724,
 'דליית אל כרמל': 72.03570630034962,
 'עפולה': 75.41773786579591,
 'קיריית טבעון': 77.30368799373765,
 'כפר חסידים': 79.75168911011555,
 'נשר': 79.94502549224781,
 'גבעת המורה': 79.96636940824932,
 'איבטין': 81.36180989741037,
 'דברת': 82.5674124299259,
 'חיפה': 84.04364720420446,
 'שני': 84.33546303743519,
 'קריית אתא': 86.28740920826101,
 'חיפה וקריות': 88.36452483623367,
 'קריית מוצקין': 88.37063199245387,
 'קריית ביאליק': 88.39360661130267,
 'אפק': 89.92314607375549,
 'בשור חווה': 90.47229979403227,
 'באר שבע': 93.07219181167214,
 'כפר מסריק': 94.4252942046197,
 'טורעאן': 95.06468901040076,
 'מצפה נטופה': 98.03176788101342,
 'שגב שלום': 98.22072569129107,
 'ערד': 100.55831988922901,
 'אשחר': 101.62827776888112,
 'מסדה': 101.97534640191013,
 'כרמיאל': 104.17211859537892,
 'מועצה תעשייתית נאות חובב': 105.34723235684937,
 'צומת הנגב': 113.08999228946992,
 'ירוחם': 122.36543643520744,
 'גמלא': 123.40547366322998,
 'אשלים': 124.56440700720077,
 'גליל עליון': 139.50527432956295,
 'נאות הכיכר': 139.90787044485523,
 'מרום גולן פיכמן': 149.41682122796163,
 'פארן': 194.35521336097673,
 'קטורה': 236.10215934872008,
 'אילת': 280.7706587013737}

In [125]:

def f(s,df_poll):
    for i in range(len(df_poll)):

        for j in range(s,len(df_cities_choose.columns)):

            city = df_cities_choose.columns[j]

            for k in range (10):

                near=list(nearst[city])[k]

                if near in df_poll.columns:

                    val = df_poll[near][i]



                if val>=0:

                    df_cities_choose[city][i]=val

                    break



# f(1,pm10_df)
df_cities_choose.tail(1000)

,Date,Tel_Aviv-Yafo_pm10,Jerusalem_pm10,Haifa_pm10,Ashkelon_pm10,Beer-Sheva_pm10,Eilat_pm10,Qiryat Shemona_pm10,Safed_pm10,Tel_Aviv-Yafo,Jerusalem,Haifa,Ashkelon,Beer-Sheva,Eilat,Qiryat Shemona,Safed
1182,2019-03-28,163.6,71.3,88.5,28.3,39.9,34.9,34.9,34.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183,2019-03-29,136.9,24.7,66.2,20.7,29.7,29.0,29.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1184,2019-03-30,576.9,430.4,262.6,447.1,305.9,318.6,318.6,318.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1185,2019-03-31,90.9,27.7,36.8,27.3,27.1,292.1,292.1,292.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1186,2019-01-04,124.6,43.6,53.8,62.4,30.6,80.9,80.9,80.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,58.9,51.3,59.0,20.9,22.1,20.0,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2021-12-18,82.2,48.8,44.7,17.4,21.0,18.5,18.5,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,2021-12-19,162.7,219.2,129.9,22.3,21.2,17.6,17.6,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,2021-12-20,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,2021-12-21,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
df_cities_choose.columns=['Date','Tel_Aviv-Yafo_pm10','Jerusalem_pm10','Haifa_pm10','Ashkelon_pm10','Beer-Sheva_pm10','Eilat_pm10','Qiryat Shemona_pm10','Safed_pm10']
df_cities_choose[cities_choose]=np.nan

In [122]:
df_cities_choose

,Date,Tel_Aviv-Yafo_pm10,Jerusalem_pm10,Haifa_pm10,Ashkelon_pm10,Beer-Sheva_pm10,Eilat_pm10,Qiryat Shemona_pm10,Safed_pm10,Tel_Aviv-Yafo,Jerusalem,Haifa,Ashkelon,Beer-Sheva,Eilat,Qiryat Shemona,Safed
0,2016-01-01,64.1,25.6,23.3,11.2,4.9,24.1,24.1,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-01,63.1,25.1,23.8,12.3,10.5,16.8,16.8,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-03-01,82.3,99.1,27.1,28.6,27.3,22.1,22.1,22.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-04-01,75.2,66.6,36.6,17.7,30.0,28.6,28.6,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-05-01,105.6,177.4,40.3,19.9,22.8,18.5,18.5,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,58.9,51.3,59.0,20.9,22.1,20.0,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2021-12-18,82.2,48.8,44.7,17.4,21.0,18.5,18.5,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,2021-12-19,162.7,219.2,129.9,22.3,21.2,17.6,17.6,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,2021-12-20,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,2021-12-21,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
f(9,pm25_df)
df_cities_choose.columns=['Date','Tel_Aviv-Yafo_pm10','Jerusalem_pm10','Haifa_pm10','Ashkelon_pm10','Beer-Sheva_pm10','Eilat_pm10','Qiryat Shemona_pm10','Safed_pm10',
'Tel_Aviv-Yafo_pm2.5','Jerusalem_pm2.5','Haifa_pm2.5','Ashkelon_pm2.5','Beer-Sheva_pm2.5','Eilat_pm2.5','Qiryat Shemona_pm2.5','Safed_pm2.5']
df_cities_choose[cities_choose]=np.nan
df_cities_choose

C:\Users\asars\AppData\Local\Temp/ipykernel_8564/354961432.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cities_choose[city][i]=val

In [131]:
f(17,nox_df)
df_cities_choose.columns=['Date','Tel_Aviv-Yafo_pm10','Jerusalem_pm10','Haifa_pm10','Ashkelon_pm10','Beer-Sheva_pm10','Eilat_pm10','Qiryat Shemona_pm10','Safed_pm10',
'Tel_Aviv-Yafo_pm2.5','Jerusalem_pm2.5','Haifa_pm2.5','Ashkelon_pm2.5','Beer-Sheva_pm2.5','Eilat_pm2.5','Qiryat Shemona_pm2.5','Safed_pm2.5',
'Tel_Aviv-Yafo_nox','Jerusalem_nox','Haifa_nox','Ashkelon_nox','Beer-Sheva_nox','Eilat_nox','Qiryat Shemona_nox','Safed_nox']
df_cities_choose[cities_choose]=np.nan
df_cities_choose

C:\Users\asars\AppData\Local\Temp/ipykernel_8564/354961432.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cities_choose[city][i]=val

,Date,Tel_Aviv-Yafo_pm10,Jerusalem_pm10,Haifa_pm10,Ashkelon_pm10,Beer-Sheva_pm10,Eilat_pm10,Qiryat Shemona_pm10,Safed_pm10,Tel_Aviv-Yafo_pm2.5,...,Qiryat Shemona_nox,Safed_nox,Tel_Aviv-Yafo,Jerusalem,Haifa,Ashkelon,Beer-Sheva,Eilat,Qiryat Shemona,Safed
0,2016-01-01,64.1,25.6,23.3,11.2,4.9,24.1,24.1,24.1,13.9,...,6.2,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-01,63.1,25.1,23.8,12.3,10.5,16.8,16.8,16.8,11.6,...,9.1,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-03-01,82.3,99.1,27.1,28.6,27.3,22.1,22.1,22.1,23.4,...,26.5,26.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-04-01,75.2,66.6,36.6,17.7,30.0,28.6,28.6,28.6,23.4,...,19.8,19.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-05-01,105.6,177.4,40.3,19.9,22.8,18.5,18.5,18.5,23.4,...,25.8,25.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,58.9,51.3,59.0,20.9,22.1,20.0,20.0,20.0,80.4,...,8.4,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2021-12-18,82.2,48.8,44.7,17.4,21.0,18.5,18.5,18.5,80.3,...,6.3,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,2021-12-19,162.7,219.2,129.9,22.3,21.2,17.6,17.6,17.6,119.9,...,9.6,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,2021-12-20,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,47.3,...,9.5,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,2021-12-21,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
f(25,so2_df)
df_cities_choose.columns=['Date','Tel_Aviv-Yafo_pm10','Jerusalem_pm10','Haifa_pm10','Ashkelon_pm10','Beer-Sheva_pm10','Eilat_pm10','Qiryat Shemona_pm10','Safed_pm10',
'Tel_Aviv-Yafo_pm2.5','Jerusalem_pm2.5','Haifa_pm2.5','Ashkelon_pm2.5','Beer-Sheva_pm2.5','Eilat_pm2.5','Qiryat Shemona_pm2.5','Safed_pm2.5',
'Tel_Aviv-Yafo_nox','Jerusalem_nox','Haifa_nox','Ashkelon_nox','Beer-Sheva_nox','Eilat_nox','Qiryat Shemona_nox','Safed_nox',
'Tel_Aviv-Yafo_so2','Jerusalem_so2','Haifa_so2','Ashkelon_so2','Beer-Sheva_so2','Eilat_so2','Qiryat Shemona_so2','Safed_so2']

C:\Users\asars\AppData\Local\Temp/ipykernel_8564/354961432.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cities_choose[city][i]=val

In [133]:
df_cities_choose

,Date,Tel_Aviv-Yafo_pm10,Jerusalem_pm10,Haifa_pm10,Ashkelon_pm10,Beer-Sheva_pm10,Eilat_pm10,Qiryat Shemona_pm10,Safed_pm10,Tel_Aviv-Yafo_pm2.5,...,Qiryat Shemona_nox,Safed_nox,Tel_Aviv-Yafo_so2,Jerusalem_so2,Haifa_so2,Ashkelon_so2,Beer-Sheva_so2,Eilat_so2,Qiryat Shemona_so2,Safed_so2
0,2016-01-01,64.1,25.6,23.3,11.2,4.9,24.1,24.1,24.1,13.9,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
1,2016-02-01,63.1,25.1,23.8,12.3,10.5,16.8,16.8,16.8,11.6,...,9.1,9.1,6.9,0.0,2.7,0.5,1.0,0.0,0.8,0.8
2,2016-03-01,82.3,99.1,27.1,28.6,27.3,22.1,22.1,22.1,23.4,...,26.5,26.5,9.4,0.1,2.9,1.9,1.6,0.5,1.0,1.0
3,2016-04-01,75.2,66.6,36.6,17.7,30.0,28.6,28.6,28.6,23.4,...,19.8,19.8,13.5,0.0,7.7,1.4,1.4,1.3,1.7,1.7
4,2016-05-01,105.6,177.4,40.3,19.9,22.8,18.5,18.5,18.5,23.4,...,25.8,25.8,13.3,0.3,6.1,0.7,1.7,0.9,5.6,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,58.9,51.3,59.0,20.9,22.1,20.0,20.0,20.0,80.4,...,8.4,8.4,5.9,0.6,13.7,1.4,5.5,6.3,1.5,1.5
2178,2021-12-18,82.2,48.8,44.7,17.4,21.0,18.5,18.5,18.5,80.3,...,6.3,6.3,6.7,0.4,15.9,1.3,5.2,5.2,1.2,1.2
2179,2021-12-19,162.7,219.2,129.9,22.3,21.2,17.6,17.6,17.6,119.9,...,9.6,9.6,8.8,0.8,32.5,1.6,4.9,5.8,1.7,1.7
2180,2021-12-20,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,47.3,...,9.5,9.5,7.0,0.5,14.0,1.4,2.9,5.6,0.4,0.4
2181,2021-12-21,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN

In [142]:
df_cities_choose = df_cities_choose.replace(0.0,np.nan)
df_cities_choose.isna().sum()/len(df_cities_choose)
df_cities_choose=df_cities_choose.set_index("Date")
df_cities_choose=df_cities_choose.interpolate(method="time",limit_direction="both")

In [143]:
df_cities_choose.reset_index(inplace=True)

In [146]:
df_cities_choose.to_excel("cities_to_merge.xlsx",index=False)