In [1]:
import pandas as pd

In [2]:
df1=pd.read_excel("info_site_complete_with_models_and_nulls.xlsx")
df1

,Model_number,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,...,heritage,water,cave,lookout,pm10,pm2.5,nox,so2,Temperature,is_HeatWave
0,5,2016-01-01,Alexander Stream-Bet Yannai,7,0,7,1,0,0,0,...,0,1,0,0,8.0,NaN,6.2,0.6,11.2,0
1,6,2016-01-01,Apollonia,16,0,16,1,0,0,0,...,0,0,0,1,NaN,NaN,1.7,0.1,9.5,0
2,3,2016-01-01,Arbel,8,52,60,1,0,0,0,...,0,0,0,1,21.7,11.0,6.2,0.3,14.1,0
3,5,2016-01-01,Avdat,13,26,39,1,0,0,0,...,0,0,0,0,NaN,NaN,9.6,3.2,12.7,0
4,5,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,...,0,1,0,0,NaN,NaN,183.6,0.2,15.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109103,3,2021-08-11,The Majrase – Betiha,744,0,744,0,0,0,1,...,0,1,0,0,37.5,13.1,11.3,2.4,32.6,1
109104,0,2021-08-11,The Masada,508,0,508,0,0,0,1,...,0,0,0,0,27.3,11.8,17.0,3.5,37.4,1
109105,5,2021-08-11,Tzipori,102,0,102,0,0,0,1,...,0,0,0,0,NaN,NaN,5.3,3.7,39.6,1
109106,3,2021-08-11,Yehiam,92,0,92,0,0,0,1,...,0,0,0,0,24.4,NaN,11.0,5.3,32.8,1
109107,5,2021-08-11,Yehudiya,694,0,694,0,0,0,1,...,0,1,0,0,24.4,NaN,11.0,5.3,33.0,1

In [3]:
df2=pd.read_excel("cities_to_merge.xlsx")
df2

,Date,Tel_Aviv-Yafo_pm10,Jerusalem_pm10,Haifa_pm10,Ashkelon_pm10,Beer-Sheva_pm10,Eilat_pm10,Qiryat Shemona_pm10,Safed_pm10,Tel_Aviv-Yafo_pm2.5,...,Qiryat Shemona_nox,Safed_nox,Tel_Aviv-Yafo_so2,Jerusalem_so2,Haifa_so2,Ashkelon_so2,Beer-Sheva_so2,Eilat_so2,Qiryat Shemona_so2,Safed_so2
0,2016-01-01,64.1,25.6,23.3,11.2,4.9,24.1,24.1,24.1,13.9,...,6.2,6.2,7.2,0.10,2.6,1.2,0.9,3.70,0.6,0.6
1,2016-02-01,63.1,25.1,23.8,12.3,10.5,16.8,16.8,16.8,11.6,...,9.1,9.1,6.9,1.90,2.7,0.5,1.0,0.55,0.8,0.8
2,2016-03-01,82.3,99.1,27.1,28.6,27.3,22.1,22.1,22.1,23.4,...,26.5,26.5,9.4,0.10,2.9,1.9,1.6,0.50,1.0,1.0
3,2016-04-01,75.2,66.6,36.6,17.7,30.0,28.6,28.6,28.6,23.4,...,19.8,19.8,13.5,0.85,7.7,1.4,1.4,1.30,1.7,1.7
4,2016-05-01,105.6,177.4,40.3,19.9,22.8,18.5,18.5,18.5,23.4,...,25.8,25.8,13.3,0.30,6.1,0.7,1.7,0.90,5.6,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,2021-12-17,58.9,51.3,59.0,20.9,22.1,20.0,20.0,20.0,80.4,...,8.4,8.4,5.9,0.60,13.7,1.4,5.5,6.30,1.5,1.5
2178,2021-12-18,82.2,48.8,44.7,17.4,21.0,18.5,18.5,18.5,80.3,...,6.3,6.3,6.7,0.40,15.9,1.3,5.2,5.20,1.2,1.2
2179,2021-12-19,162.7,219.2,129.9,22.3,21.2,17.6,17.6,17.6,119.9,...,9.6,9.6,8.8,0.80,32.5,1.6,4.9,5.80,1.7,1.7
2180,2021-12-20,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,47.3,...,9.5,9.5,7.0,0.50,14.0,1.4,2.9,5.60,0.4,0.4
2181,2021-12-21,93.7,68.5,66.7,158.9,104.6,499.4,499.4,499.4,47.3,...,9.5,9.5,7.0,0.50,14.0,1.4,2.9,5.60,0.4,0.4

In [4]:
df1=df1.merge(right=df2,on="Date")
df1

,Model_number,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,...,Qiryat Shemona_nox,Safed_nox,Tel_Aviv-Yafo_so2,Jerusalem_so2,Haifa_so2,Ashkelon_so2,Beer-Sheva_so2,Eilat_so2,Qiryat Shemona_so2,Safed_so2
0,5,2016-01-01,Alexander Stream-Bet Yannai,7,0,7,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
1,6,2016-01-01,Apollonia,16,0,16,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
2,3,2016-01-01,Arbel,8,52,60,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
3,5,2016-01-01,Avdat,13,26,39,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
4,5,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109103,3,2021-08-11,The Majrase – Betiha,744,0,744,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109104,0,2021-08-11,The Masada,508,0,508,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109105,5,2021-08-11,Tzipori,102,0,102,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109106,3,2021-08-11,Yehiam,92,0,92,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109107,5,2021-08-11,Yehudiya,694,0,694,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2

In [5]:
df1.to_excel("complete_maybe.xlsx")